@font-face {
    font-family: Neoneon;
	src: url("../fonts/Neoneon.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Neoneon.otf") format("otf"),
		 url("../fonts/Neoneon.woff") format("woff"), /* Modern Browsers */
         url("../fonts/Neoneon.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("../fonts/Neoneon.svg#Neoneon") format("svg"); /* Legacy iOS */
}
/* Says free with attribution from https://www.behance.net/gallery/55332529/NEONEON-FREE-FONT */




/* Theater css was found https://codepen.io/tiffwong/pen/ErGgxq and then further modified to fit my needs */

.theater-sign {
	height: 300px;
	position: relative;
}

.sign-top {
	display: flex;
	justify-content: space-between;
}
.sign-title {
	color: #FFF4CD;
	flex: 0 1 40%;
	font-family: 'Neoneon', 'Orbitron', sans-serif;
	font-size: 60px;
	letter-spacing: 10px;
	margin: 6px auto;
	text-align: center;
	text-shadow: 0 0 10px #fff, 0 0 20px #FFC600, 0 0 35px #FFC600, 0 0 40px #FFC600;
	text-transform: uppercase;
	
	animation: flicker 3s linear infinite;
	-moz-animation: flicker 3s linear infinite;
	-webkit-animation: flicker 3s linear infinite;
}
.grid-container {
	border: 5px solid white;
	border-radius: 10px;
	box-shadow: 0 0 10px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, inset 0 0 10px #fff, inset 0 0 20px red, inset 0 0 35px red, inset 0 0 40px red;
	color: #fff;
	padding: 12px;
	
	animation: flicker 3s linear infinite;
	-moz-animation: flicker 3s linear infinite;
	-webkit-animation: flicker 3s linear infinite;
}
.grid {
	border: 2px solid #333;
	border-radius: 3px;
	display: flex;
	flex-flow: row wrap;
	/* width: 700px; */
	width: calc(100vw - 34px);
	position: relative;
	background: #fffcec;
	
}
.grid::before {
	content: "";
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../images/old-paper.jpg');
	opacity: .8;
	box-shadow: inset 0 0 50px #000000;
}
.grid::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}
.grid-cells {
	position: relative;
	z-index: 10;
	/*background: white; */
	/* background-image: url('../images/old-paper.jpg'); */
    
	border: 1px solid #333;
	flex: 0 1 20%;
	height: 24px;
}
.show-details {
	color: #303030;
	font-family: 'Montserrat', sans-serif;
	
	font-weight: 800;
	letter-spacing: 2px;
	/* font-size: 32px;
	line-height: 48px;
	line-height: 32px;
	position: relative; 
	top: -176px; 
	top: -168px; */

	font-size: 35px;
	line-height: .7;

	text-align: center;
	text-transform: uppercase;
	
	z-index: 999;

	position: absolute;
	width: 100%;
	/* height:206px; */
	padding:0 12px;
	/* top:120px; */
	top:119px;
}
/* .sign-grid-letters {
	height: 24px;
} */
@media screen and (min-width: 734px){
	.grid {
		width: 700px
	}
	.sign-grid-letters{
		margin-bottom: 24px;
	}
}

@keyframes flicker {
	from {
		opacity: 1;
	}
	4% {
		opacity: .9;
	}
	6% {
		opacity: .85;
	}
	8% {
		opacity: .95;
	}
	10% {
		opacity: .90;
	}
	11% {
		opacity: .922;
	}
	12% {
		opacity: .9;
	}
	14% {
		opacity: .95;
	}
	16% {
		opacity: .98;
	}
	17% {
		opacity: .9;
	}
	19% {
		opacity: .93;
	}
	20% {
		opacity: .99;
	}
	24% {
		opacity: 1;
	}
	26% {
		opacity: .94;
	}
	28% {
		opacity: .98;
	}
	37% {
		opacity: .93;
	}
	39% {
		opacity: .96;
	}
	42% {
		opacity: 1;
	}
	44% {
		opacity: .97;
	}
	46% {
		opacity: .94;
	}
	56% {
		opacity: .9;
	}
	58% {
		opacity: .9;
	}
	60% {
		opacity: .99;
	}
	68% {
		opacity: 1;
	}
	70% {
		opacity: .9;
	}
	72% {
		opacity: .95;
	}
	93% {
		opacity: .93;
	}
	95% {
		opacity: .95;
	}
	97% {
		opacity: .93;
	}
	to {
		opacity: 1;
	}
}
