@import url('https://fonts.googleapis.com/css?family=News+Cycle:700');

* { box-sizing: border-box; }
html,body {
    padding:0;
    margin:0;
    height:100%;
}
body {
    display:flex;
    flex-direction:column;

    background-color:#10100f;
}
header {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:100%;
    background-color:#e4c899;
}
.header-word {
    display:flex;
    flex-direction: row;
    margin: 1vmin;
}
.tile--header {
    margin: .5vmin;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 3.5vmin;
    line-height: 1.45;
    width: 6vmin;
    height: 6vmin;
}

#game{
    margin: 0 auto;
    min-width: 500px;
    max-width: 1024px;
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width:100%;
    background-color: black;
    background-image: linear-gradient(to bottom, #4e4343, #17110d);
}

#words-container {
    width:100%;
}
#image-container {

    position:relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.screenshot-img {
    width:100%;
}
#startMessage {
    width:100%;
    height:100%;
    top:0;
    left:0;
    
	background-color:#10100f;
}
.message-container {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

    position: absolute;
    width:70%;
    height:70%;

    background-color: white;
}

#stats-container {
    display:flex;
    flex-direction: row;
    padding: 0 20px;
    min-height: 50px;
    margin: 20px 0;
    
    color: #716966;
    font-weight: 700;
    font-family: Arial, sans-serif;

}
#strikes-container, #guessed-container, #wins-container {
    width:33.3%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
#strikes--header, #guessed--header, #wins--header {
    text-decoration: underline;
}

#solution-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}


.tile-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 8px;
    align-content: center;
    justify-content: center;
}

.wooden{
    font-family: 'News Cycle', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: rgba(white, 0.5) 1px 1px 0;
    color:white;
    border: none;
    border-radius: 0.5vmin;
    
}

.empty {
    background-color:gray;
    border: none;
    border-radius: 0.5vmin;
    box-shadow: 
        inset rgba(black, 0.2) -4px -4px 24px,
        inset #CFB58B 0 -4px 0,
        rgba(black, 0.15) 0 6px 6px -3px;
}

.tile {
    display: flex;
    justify-content: center;
    margin: 0.25vmin;/*1vmin*/
    width: 4vmin;
    height: 4vmin;
    font-size: 3vmin;
    line-height: 1.2;
}


.faded-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
/*
.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }

}*/

.fade-in {
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
 

.slide-sideways {
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slide;
    animation-name: slide;
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
    20% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-filter: blur(5px)
    }
    21% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-filter: blur(5px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
}