@import url('https://fonts.googleapis.com/css?family=News+Cycle:700');

* { box-sizing: border-box; }

html,body {
    padding:0;
    margin:0;
    height:100%;
}

body {
    display:flex;
    flex-direction:column;
    background-color:#10100f;
}

#game{
    margin: 0 auto;
    min-width: 500px;
    max-width: 1024px;
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width:100%;
    background-color: black;
    background-image: linear-gradient(to bottom, #4e4343, #17110d);
}

#words-container {
    width:100%;
}

#image-container {
    width:100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screenshot-img {
    width:100%;
}

#startMessage {
    width:100%;
    height:100%;
    top:0;
    left:0;
	background-color:#10100f;
}

.message-container {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position: absolute;
    width:70%;
    height:70%;
    background-color: white;
}

#stats-container {
    display:flex;
    flex-direction: row;
    padding: 0 20px;
    min-height: 50px;
    margin: 20px 0;
    color: #716966;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

#strikes-container, #guessed-container, #wins-container {
    width:33.3%;
    display:flex;
    flex-direction:column;
    align-items: center;
    min-height: 70px;
}

#strikes--header, #guessed--header, #wins--header {
    text-decoration: underline;
    margin-bottom: 20px;
}

#solution-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}


/* TILE for entered words */

.tile-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 8px;
    align-content: center;
    justify-content: center;
}

.entered {
    font-family: 'News Cycle', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: rgba(white, 0.5) 1px 1px 0;
    color:white;
    border: none;
    border-radius: 0.5vmin;
    
}

.empty {
    background-color:gray;
    border: none;
    border-radius: 0.5vmin;
    box-shadow: 
        inset rgba(black, 0.2) -4px -4px 24px,
        inset #CFB58B 0 -4px 0,
        rgba(black, 0.15) 0 6px 6px -3px;
}

.tile {
    display: flex;
    justify-content: center;
    margin: 0.25vmin;/*1vmin*/
    width: 4vmin;
    height: 4vmin;
    font-size: 3vmin;
    line-height: 1.2;
}

.tile--small {
    display: flex;
    justify-content: center;
    margin: 0.25vmin;
    width: 3vmin;
    height: 3vmin;
    font-size: 2vmin;
    line-height: 1.5;
}



/* POSTER FRAME for word guess rounds */

#frame-container{
    display: none; /* should end up as flex after animationController */
    height: 100%;
    width:100%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    --blur: 2px;
}

.frame{
    display: inline-block;
	vertical-align: middle;
	margin: auto 100px;
	padding: 30px;
	border: 10px solid black;
	background-color: #eaeaea;
	position: relative;
	transition: .3s ease;
    box-shadow: inset 0px 6px 3px 1px rgba(0,0,0,.3), 
        2px 17px 4px 11px rgba(0,0,0,.2), 
        20px 18px 70px -10px rgba(0,0,0,.5), 
        -2px 20px 100px -10px rgba(255,255,255,.8);
}
.frame-inside{
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.message-frame {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}
.message-inside{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
}

@media screen and (max-width: 600px){
    .frame {
        margin: 0;
    }
}

.nowShowing{
	position: absolute;
	bottom: 100%;

	width: calc(100% - 60px); /* https://stackoverflow.com/questions/899107/how-can-i-do-width-100-100px-in-css/22573475 */
	text-align: center;
	padding-left:0;
}

@media screen and (max-width:980px){
	.nowShowing{
		padding-left:0;
	}
}



/* ANIMATIONS for transitions */
/* controlled by animation controller object by adding and removing classes with a delay.
    found the slide in and then a motion blur codepen project and I copied how they worked.
    title sign still doesnt work right now */

.faded-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-filter: blur(5px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-filter: blur(5px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
}
 

.slide-sideways {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slide;
    animation-name: slide;
}

@-webkit-keyframes slide {
    0% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
    20% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-filter: blur(5px)
    }
    21% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-filter: blur(5px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
}

@keyframes slide {
    0% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
    20% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-filter: blur(5px)
    }
    21% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-filter: blur(5px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-filter: blur(0px)
    }
}